html, body
{
	display: flex;
	flex-direction: column;
	font-size: 18pt;
	font-family: sans-serif;
	font-weight: lighter;
}
form
{
	flex-direction: row;
}
form > input 
{
	width:calc(100% - 70pt);
}
form > input[type="submit"]
{
	width: 50pt;
}
.doorgestreept
{
	text-decoration: line-through;
	color: #aaa;
}
.metadata
{
	float: right;
	font-size: x-small;
	display: flex;
	flex-direction: column;
}
.local_only
{
	color: red;
}
div>li
{
	background-image: linear-gradient( 90deg, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(255,255,255,0.75), rgba(255,255,255,0.75) );
	background-size: 500% 100%;
	background-position: 0 0;

	display: block;
	overflow: hidden;
	transition: all 1s;
	max-height: 24pt;
}
.remove_animation
{
	max-height: 0;
}
.remove_timer_active
{
	background-position: 80% 0;
}
span
{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: color 0.5s ease-out;
}
input[type="text"]
{
	background-color: transparent;
	border: none;
	border-bottom: 1pt solid black;
	line-height: inherit;
	font-size: inherit;
	font-weight: inherit;
	margin-bottom: 10pt;
}
/* 
@media (prefers-color-scheme: dark)
{
	body {
		background-color: #444;
		color: #888;
		transition: all 1s;
	}
	input[type="text"]
	{
		color: #888;
	}
} */